
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: "Garamond", "Times New Roman", serif;
}

header {
	background-color: #009900;
}

.colours {
	display: flex;
}

.bar {
	height: 5px;
	flex: 1;
}

.red {
	background-color: #ee0000;
	color: white;
}
.yellow {
	background-color: #ffff00;
	color: black;
}
.green {
	background-color: #006600;
	color: white;
}
.brown {
	background-color: #663300;
	color: white;
}
.blue {
	background-color: #0000ff;
	color: white;
}
.pink {
	background-color: #ff6666;
	color: black;
}
.black {
	background-color: #000000;
	color: white;
}

h1 {
	color: white;
	font-size: 3em;
	text-align: center;
	margin: 0;
	padding-top: 10px;
	font-weight: normal;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	padding: 10px;
	margin: 0;
	font-weight: normal;
}

.subHeader {
	color: white;
	font-size: 1.2em;
	text-align: center;
	padding: 10px;
	margin: 0;
	font-weight: normal;
}

#pageTitle {
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 2px 3px 3px #cccccc;
}

#menuHeader {
	background-color: #996600;
	padding: 5px;
	color: white;
	border-top: 1px solid #663300;
	border-bottom: 1px solid #663300;
	font-size: 1.2em;
}

.toggle, .hidden {
	display: none;
}

.activate {
	display: block;
}

.menuLink {
	height: 24px;
	background-color: #339933;
	border-bottom: 1px solid white;
	line-height: 24px;
	display: block;
	color: white;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menuLink:last-of-type {
	border-bottom: none;
}

.menuLink:hover {
	background-color: #336633;
	transition: 0.2s;
	text-decoration: underline;
}

.ball {
	height: 20px;
	width: 20px;
	margin: 2px 10px;
	border-radius: 50%;
	float: left;
}

.redGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #ff0000 5%, #000000)
}

.yellowGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #ffff00 5%, #000000)
}

.greenGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #006600 5%, #000000)
}

.brownGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #663300 5%, #000000)
}

.blueGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #0000ff 5%, #000000)
}

.pinkGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #ff6666 5%, #000000)
}

.blackGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #333333 5%, #000000)
}

.dashboard {
	display: flex;
	flex-flow: column;
}

.dashColumn {
	flex: 1;
	padding: 10px;
	box-sizing: border-box;
}

.flexWrap {
	display: flex;
	flex-flow: row wrap;
}

.selectWrapper {
	overflow: auto;
	margin: 10px auto 0 auto;
	text-align: center;
	font-size: 1.5em;
}

div.dc-chart {
	float: none;
	margin-top: 10px;
}

svg {
	max-width: 260px;
}

.counterTitle {
	background-color: #996600;
	font-size: 2em;
	color: white;
	font-weight: normal;
	margin: auto;
	border: 1px solid #663300;
	border-radius: 10px 10px 0 0;
}

.tableTitle, .chartTitle {
	background-color: #996600;
	color: white;
	border: 1px solid #663300;
	border-radius: 10px 10px 0 0;
	padding: 0px;
	text-align: center;
	font-size: 1.5em;
	box-sizing: border-box;
}

.countSingle {
	margin: 10px auto 0 auto;
	text-align: center;
	min-width: 150px;
	max-width: 250px;
}

.countDouble {
	margin: 10px auto 0 auto;
	text-align: center;
	flex: 1;
	min-width: 150px;
	max-width: 200px;
}

.numberCounter {
	display: block;
	overflow: auto;
	border: 1px solid #006600;
	border-top: none;
}

#totalTournaments, #matchesPlayed, #framesPlayed {
	margin: auto;
	font-size: 3em;
	background-color: #339933;
	color: white;
	width: 100%;
}

.chartStyle {
	background-color: #339933;
	overflow: auto;
	border: 1px solid #006600;
	border-top: 0;
}

#winnersTable, #tournamentResults, #playerResults {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	color: white;
}

#resultsTable {
	max-width: 600px;
	margin: 10px auto 0 auto;
}

.chartSingle {
	max-width: 600px;
	margin: 10px auto 0 auto;
}

.chartDouble {
	flex: 1;
	width: 300px;
	margin: 10px 10px 0 10px;
	flex-grow: 1;
}



#winnersTable .dc-table-group {
	display: none;
}

#resultsTable .dc-table-group {
	background-color: #006600;
	font-weight: bold;
	border: 1px solid #003300;
	border-top: 0;
}

.flagIcon {
	height: 15px;
	width: 15px;
}

#resultsTable .headerRow {
	background-color: #006600;
	color: white;
	border: 1px solid #003300;
	border-top: 0;
}

#resultsTable .dc-table-row {
	background-color: #339933;
	border: 1px solid #006600;
}

#resultsTable .dc-table-row:hover {
	background-color: #336633;
	transition: 0.2s;
}

#resultsTable .dc-table-column {
	margin: 0 5px;
}

#winnersTable ._1, #tournamentResults ._0 {
	text-align: right;
}

#winnersTable ._7, #tournamentResults ._6, #playerResults ._3 {
	text-align: left;
}

#makeSelection {
	margin: auto;
	font-size: 1.5em;
	background-color: #339933;
	color: white;
	width: 100%;
	text-align: center;
	border: 1px solid #006600;
	border-top: 0;
	box-sizing: border-box;
}

footer {
	background-color: #009900;
}

#footerText {
	padding: 5px;
	color: white;
	text-align: center;
}

@media screen and (max-width: 400px) {
	#winnersTable, #tournamentResults {
		font-size: 0.9em;
	}
	#winnersTable td._2, #winnersTable td._6, #winnersTable th._2, #winnersTable th._6 {
		display: none;
	}
	#tournamentResults td._1, #tournamentResults td._5, #tournamentResults th._1, #tournamentResults th._5 {
		display: none;
	}
}