
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: "Times New Roman", serif;
}

header {
	background-color: #009900;
}

#colours {
	display: flex;
}

.bar {
	height: 5px;
	flex: 1;
}

.red {
	background-color: #ee0000;
	color: white;
}
.yellow {
	background-color: yellow;
	color: black;
}
.green {
	background-color: #006600;
	color: white;
}
.brown {
	background-color: #663300;
	color: white;
}
.blue {
	background-color: blue;
	color: white;
}
.pink {
	background-color: #ff6666;
	color: black;
}
.black {
	background-color: black;
	color: white;
}

h1 {
	color: white;
	font-size: 3em;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-weight: normal;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	padding: 10px;
	margin: 0;
	font-weight: normal;
}

.subHeader {
	color: white;
	font-size: 1em;
	text-align: center;
	padding: 10px;
	margin: 0;
	font-weight: normal;
}

#pageTitle {
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 2px 3px 3px #cccccc;
}

#menuHeader {
	background-color: #996600;
	padding: 5px;
	color: white;
	border-top: 1px solid #663300;
	border-bottom: 1px solid #663300;
}

.toggle {
	display: none;
}

.activate {
	display: block;
}

.menuLink {
	height: 24px;
	background-color: #009900;
	border-bottom: 1px solid white;
	line-height: 24px;
	display: inline-block;
	color: white;
	text-decoration: none;
	width: 100%;
}

.menuLink:last-of-type {
	border-bottom: none;
}

.menuLink:hover {
	background-color: #336633;
	transition: 0.2s;
	text-decoration: underline;
}

.ball {
	height: 20px;
	width: 20px;
	margin: 2px 10px;
	border-radius: 50%;
	float: left;
}

.redGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #ff0000 5%, #000000)
}

.yellowGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #ffff00 5%, #000000)
}

.greenGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #006600 5%, #000000)
}

.brownGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #663300 5%, #000000)
}

.blueGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, blue 5%, #000000)
}

.pinkGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #ff6666 5%, #000000)
}

.blackGrad {
	background: radial-gradient(circle at 7px 7px, #ffffff 2%, #333333 5%, #000000)
}