{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="black">
		<h2>Career Data</h2>
	</div>

	<section class="dashboard">

		<section class="dashboardSection">

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
						Nationality
					</div>
					<div class="chartStyle">
						<div id="countryCareer" data-step="3" data-intro="Select players from a particular country." data-position="top"></div>
					</div>
				</div>

				<div class="chartDouble">
					<div class="chartTitle">
						Best Result
					</div>
					<div class="chartStyle">
						<div id="stageReached" data-step="4" data-intro="Compare players who reached the same stage of the tournament - see who appeared most often without getting past the First Round!" data-position="top"></div>
					</div>
				</div>
			</div>

			<div class="chartSingle">
				<div class="chartTitle">
					Debut Year
				</div>
				<div class="chartStyle">
					<div id="debutYear" data-step="5" data-intro="Compare players who made their Crucible debut at the same time. Note that all sixteen players in the first tournament were making their debut!" data-position="top"></div>
				</div>
			</div>

		</section>

		<section class="dashboardSection">

			<div class="changeButton" onclick="tableToggle()">
				Change View
			</div>

			<div class="resultsTable">
				<div class="tableTitle">
					Career Records
				</div>
				<table id="careerRecords" data-step="1" data-intro="All-time career records for every player who has ever played at the Crucible." data-position="top">
					<thead>
						<tr class="headerRow">
							<th class="_0"></th>
							<th class="_1">Player</th>
							<th class="_2">P</th>
							<th class="_3">W</th>
							<th class="_4">L</th>
							<th class="_5">Fr.</th>
							<th class="_6">W</th>
							<th class="_7">L</th>
						</tr>
					</thead>
				</table>
			</div>

			<div class="resultsTable hidden">
				<div class="tableTitle">
					Career Statistics
				</div>
				<table id="roundRecords" data-step="2" data-intro="Another table of all-time records showing the number of times a player has reached each stage of the tournament." data-position="top">
					<thead>
						<tr class="headerRow">
							<th class="_0"></th>
							<th class="_1">Player</th>
							<th class="_2">Yrs</th>
							<th class="_3">1R</th>
							<th class="_4">L16</th>
							<th class="_5">QF</th>
							<th class="_6">SF</th>
							<th class="_7">RU</th>
							<th class="_8">W</th>
						</tr>
					</thead>
				</table>
			</div>

		</section>

	</section>

{% endblock %}

{% block pagejs %}

	<script src="{{ url_for ('static', filename='js/careers.js')}}"></script>
	
{% endblock %}