{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="blue">
		<h2>Career Records</h2>
	</div>

	<section class="dashboard">

		<section class="dashColumn">

		</section>

		<section class="dashColumn">

			<div id="resultsTable">
				<div class="tableTitle">
					Players Career Records
				</div>
				<table id="careerRecords" data-step="1" data-intro="All-time career records for every player who has ever played at the Crucible." style="font-weight: normal" data-position="top">
					<thead>
						<tr class="headerRow">
							<th class="_0"></th>
							<th class="_1">Player</th>
							<th class="_2">App</th>
							<th class="_3">Pld</th>
							<th class="_4">W</th>
							<th class="_5">L</th>
							<th class="_6">Fr.</th>
							<th class="_7">W</th>
							<th class="_8">L</th>
						</tr>
					</thead>
				</table>
			</div>

		</section>

	</section>

{% endblock %}