{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="blue">
		<h2>Career Records</h2>
	</div>

	<section class="dashboard">

		<section class="dashColumn">

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
						Nationality
					</div>
					<div class="chartStyle">
						<div id="countryCareer" data-step="2" data-intro="Select players from a particular country." style="font-weight: normal" data-position="top"></div>
					</div>
				</div>

				<div class="chartDouble">
					<div class="chartTitle">
						Best Performance
					</div>
					<div class="chartStyle">
						<div id="stageReached" data-step="3" data-intro="Compare players who reached the same stage of the tournament." style="font-weight: normal" data-position="top"></div>
					</div>
				</div>
			</div>

		</section>

		<section class="dashColumn">

			<div id="resultsTable">
				<div class="tableTitle">
					Players Career Records
				</div>
				<table id="careerRecords" data-step="1" data-intro="All-time career records for every player who has ever played at the Crucible." style="font-weight: normal" data-position="top">
					<thead>
						<tr class="headerRow">
							<th class="_0"></th>
							<th class="_1">Player</th>
							<th class="_2">Yrs</th>
							<th class="_3">P</th>
							<th class="_4">W</th>
							<th class="_5">L</th>
							<th class="_6">Fr.</th>
							<th class="_7">W</th>
							<th class="_8">L</th>
						</tr>
					</thead>
				</table>
			</div>

		</section>

	</section>

{% endblock %}