{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="red">
		<h2>World Champions</h2>
	</div>

	<section class="dashboard">

		<section class="dashColumn">
			
			<div class="countSingle">
				<div class="counterTitle">
	       			Championships
	    		</div>
	    		<div class="numberCounter">
	        		<div id="totalTournaments" data-step="1" data-intro="The number of tournaments played at the Crucible Theatre." style="font-weight: normal" data-position="top"></div>
	    		</div>
			</div>

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
    					Champions
	    			</div>
					<div class="chartStyle">
						<div id="winnersRow" data-step="2" data-intro="Players who have won more than one title at the Crucible. Those with one title are grouped as 'others'." style="font-weight: normal" data-position="top"></div>
	    			</div>
	    		</div>

				<div class="chartDouble">
					<div class="chartTitle">
    					Winning Country
	    			</div>
					<div class="chartStyle">
						<div id="winningCountry" data-step="3" data-intro="The nationality of Crucible winners." style="font-weight: normal" data-position="top"></div>
	    			</div>
	    		</div>
	    	</div>

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
    					Beaten Finalist
	    			</div>
					<div class="chartStyle">
						<div id="runnerUpRow" data-step="4" data-intro="Players who have lost more than one final at the Crucible." style="font-weight: normal" data-position="top"></div>
	    			</div>
	    		</div>

				<div class="chartDouble">
					<div class="chartTitle">
    					Winning Margin
	    			</div>
					<div class="chartStyle">
						<div id="winningMargin" data-step="5" data-intro="The margin of victory in finals at the Crucible." style="font-weight: normal" data-position="top"></div>
	    			</div>
	    		</div>
	    	</div>

	    </section>

		<section class="dashColumn">    

		    <div id="resultsTable">
    			<div class="tableTitle">
    				Final Results
    			</div>
    			<table id="winnersTable" data-step="6" data-intro="The results of every final played at the Crucible." style="font-weight: normal" data-position="top">
    				<thead>
    					<tr class="headerRow">
    						<th class="_0">Year</th>
    						<th class="_1">Winner</th>
    						<th class="_2"></th>
    						<th class="_3"></th>
    						<th class="_4"></th>
    						<th class="_5"></th>
    						<th class="_6"></th>
    						<th class="_7">Runner-Up</th>
    					</tr>
    				</thead>
    			</table>
    		</div>

	    </section>	

	</section>

{% endblock %}