{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="red">
		<h2>World Champions</h2>
	</div>

	<section class="dashboard">

		<section class="dashColumn">
			
			<div class="countSingle">
				<div class="counterTitle">
	       			Championships
	    		</div>
	    		<div class="numberCounter">
	        		<div id="totalTournaments"></div>
	    		</div>
			</div>

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
    					Champions
	    			</div>
					<div class="chartStyle">
						<div id="winnersRow"></div>
	    			</div>
	    		</div>

				<div class="chartDouble">
					<div class="chartTitle">
    					Winning Country
	    			</div>
					<div class="chartStyle">
						<div id="winningCountry"></div>
	    			</div>
	    		</div>
	    	</div>

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
    					Beaten Finalist
	    			</div>
					<div class="chartStyle">
						<div id="runnerUpRow"></div>
	    			</div>
	    		</div>

				<div class="chartDouble">
					<div class="chartTitle">
    					Winning Margin
	    			</div>
					<div class="chartStyle">
						<div id="winningMargin"></div>
	    			</div>
	    		</div>
	    	</div>

	    </section>

		<section class="dashColumn">    

		    <div class="resultsTable">
    			<div class="tableTitle">
    				Final Results
    			</div>
    			<table id="winnersTable">
    				<thead>
    					<tr class="headerRow">
    						<th class="_0">Year</th>
    						<th class="_1">Winner</th>
    						<th class="_2"></th>
    						<th class="_3"></th>
    						<th class="_4"></th>
    						<th class="_5"></th>
    						<th class="_6"></th>
    						<th class="_7">Runner-Up</th>
    					</tr>
    				</thead>
    			</table>
    		</div>

	    </section>	

	</section>

{% endblock %}