{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="red">
		<h2>World Champions</h2>
	</div>

	<section class="dashboard">

	<div class="countWrapper">
		<div class="counterTitle">
       		Championships
    	</div>
    	<div class="numberCounter">
        	<div id="totalTournaments"></div>
    	</div>
	</div>
    
    <div class="resultsTable">
    	<table id="winnersTable">
    		<thead>
    			<tr class="headerRow">
    				<th class="_0">Year</th>
    				<th class="_1">Winner</th>
    				<th class="_2"></th>
    				<th class="_3"></th>
    				<th class="_4"></th>
    				<th class="_5"></th>
    				<th class="_6"></th>
    				<th class="_7">Runner-Up</th>
    			</tr>
    		</thead>
    	</table>
    </div>

	</section>

{% endblock %}