<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
        The Crucible: A statistical guide to the World Snooker Championship since 1977.
    </title>
	
	
	<!-- <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}"> -->
	
	<link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
	<link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css')}}">
	<link rel="stylesheet" media="screen and (min-width: 801px)" href="{{ url_for ('static', filename='css/desktop.css')}}" />

</head>

<body>

	<header>
		<div class="colours">
			<div class="red bar"></div>
			<div class="yellow bar"></div>
			<div class="green bar"></div>
			<div class="brown bar"></div>
			<div class="blue bar"></div>
			<div class="pink bar"></div>
			<div class="black bar"></div>
		</div>

		<div class="introButton" type="button" title="Take a tour of the elements on this page." autofocus onclick="javascript:introJs().start();">
			<div class="buttonText">?</div>
		</div>

		<h1>The Crucible</h1>
		<div class="subHeader">
			A statistical guide to the World Snooker Championship since 1977.
		</div>
	</header>

	<div id="menuHeader" onclick="menuToggle()">
			MENU &#8801;
	</div>

	<div id="emptyHeader"></div>

	<nav id="mainMenu" class="toggle">

		<a class="menuLink" href="/">
			<div class="redGrad ball"></div>
			Champions
		</a>

		<a class="menuLink" href="/results">
			<div class="yellowGrad ball"></div>
			Results
		</a>
		
		<a class="menuLink" href="/matches">
			<div class="greenGrad ball"></div>
			Match Data
		</a>
		
		<a class="menuLink" href="/players">
			<div class="brownGrad ball"></div>
			Player Data
		</a>
		
		<a class="menuLink" href="/rivalries">
			<div class="blueGrad ball"></div>
			Rivalries
		</a>
		
		<a class="menuLink" href="/records">
			<div class="pinkGrad ball"></div>
			Year Records
		</a>
		
		<a class="menuLink" href="/careers">
			<div class="blackGrad ball"></div>
			Career Data
		</a>

	</nav>

	<div class="colours">
		<div class="red bar"></div>
		<div class="yellow bar"></div>
		<div class="green bar"></div>
		<div class="brown bar"></div>
		<div class="blue bar"></div>
		<div class="pink bar"></div>
		<div class="black bar"></div>
	</div>

    {% block content %}
    {% endblock %}


    <footer>
		<div class="colours">
			<div class="red bar"></div>
			<div class="yellow bar"></div>
			<div class="green bar"></div>
			<div class="brown bar"></div>
			<div class="blue bar"></div>
			<div class="pink bar"></div>
			<div class="black bar"></div>
		</div>

		<div id="footerText">&copy; 2018 Andrew Stead</div>

	</footer>

	<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
	<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
	<script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
	<script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
	<script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
	<script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
	<script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
	<script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
	<script src="{{ url_for ('static', filename='js/champions.js')}}"></script>
	<script src="{{ url_for ('static', filename='js/results.js')}}"></script>
	<script src="{{ url_for ('static', filename='js/players.js')}}"></script>
	<script src="{{ url_for ('static', filename='js/tournaments.js')}}"></script>
	<script src="{{ url_for ('static', filename='js/careers.js')}}"></script>
	<script src="{{ url_for ('static', filename='js/rivalries.js')}}"></script>
	<script src="{{ url_for ('static', filename='js/menutoggle.js')}}"></script>

</body>

</html>