<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
        The Crucible: A statistical guide to the World Snooker Championship since 1977.
    </title>

    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css')}}">

</head>

<body>

	<header>
		<div id="colours">
			<div class="red bar"></div>
			<div class="yellow bar"></div>
			<div class="green bar"></div>
			<div class="brown bar"></div>
			<div class="blue bar"></div>
			<div class="pink bar"></div>
			<div class="black bar"></div>
		</div>

		<h1>The Crucible</h1>
		<div class="subHeader">
			A statistical guide to the World Snooker Championship since 1977.
		</div>
	</header>

	<div id="menuHeader" onclick="menuToggle()">
			MENU &#8801;
	</div>

	<nav id="mainMenu" class="toggle">
		<div class="menuItem">
			<div class="redGrad ball"></div>
			<a class="menuLink" href="/">Champions</a>
		</div>
		<div class="menuItem">
			<div class="yellowGrad ball"></div>
			<a class="menuLink" href="/tournaments">Tournaments</a>
		</div>
		<div class="menuItem">
			<div class="greenGrad ball"></div>
			<a class="menuLink" href="/matches">Matches</a>
		</div>
		<div class="menuItem">
			<div class="brownGrad ball"></div>
			<a class="menuLink" href="/frames">Frames</a>
		</div>
		<div class="menuItem">
			<div class="blueGrad ball"></div>
			<a class="menuLink" href="/players">Players</a>
		</div>
		<div class="menuItem">
			<div class="pinkGrad ball"></div>
			<a class="menuLink" href="/countries">Countries</a>
		</div>
		<div class="menuItem">
			<div class="blackGrad ball"></div>
			<a class="menuLink" href="/h2h">Head-to-head</a>
		</div>
	</nav>

	<div id="colours">
		<div class="red bar"></div>
		<div class="yellow bar"></div>
		<div class="green bar"></div>
		<div class="brown bar"></div>
		<div class="blue bar"></div>
		<div class="pink bar"></div>
		<div class="black bar"></div>
	</div>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for ('static', filename='js/toggle.js')}}"></script>

</body>

</html>