{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="green">
		<h2>Player Records</h2>
	</div>

	<div class="selectWrapper">
		Select a Player:
		<div id="playerSelect"></div>
	</div>

	<section class="dashboard">

		<section class="dashColumn">

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
    					Matches Won/Lost
	    			</div>
					<div class="chartStyle">
						<div id="winLoss" data-step="1" data-intro="The player's win/loss record." style="font-weight: normal" data-position="top"></div>
		    		</div>
					<div class="subTitle">
    					Frames Won/Lost
	    			</div>
	    			<div class="frameCountWrapper">
						<div class="frameCounter">
							<div id="framesWon" data-step="2" data-intro="The number of frames that the player has won." style="font-weight: normal" data-position="top"></div>
						</div>
						<div class="frameCounter">
							<div id="framesLost" data-step="3" data-intro="The number of frames that the player has lost." style="font-weight: normal" data-position="top"></div>
						</div>
					</div>
		    	</div>

				<div class="chartDouble">
					<div class="chartTitle">
    					Frequent Opponents
	    			</div>
					<div class="chartStyle">
						<div id="playerOpponents" data-step="4" data-intro="The opponents that the player has face most often." style="font-weight: normal" data-position="top"></div>
		    		</div>
		    	</div>
	    	</div>

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
    					Win/Loss Margin
	    			</div>
					<div class="chartStyle">
						<div id="playerMargins" data-step="5" data-intro="The margin between the players at the end of the match." style="font-weight: normal" data-position="top"></div>
		    		</div>
		    	</div>

				<div class="chartDouble">
					<div class="chartTitle">
    					Matches by Round
	    			</div>
					<div class="chartStyle">
						<div id="playerRounds" data-step="6" data-intro="The number time the player has appeared in each round of the tournament." style="font-weight: normal" data-position="top"></div>
		    		</div>
		    	</div>
	    	</div>

		</section>

		<section class="dashColumn">

		    <div id="resultsTable" class="hidden">
    			<div class="tableTitle">
    				Career Results
    			</div>
    			<table id="playerResults" data-step="7" data-intro="The results of the selected player's Crucible matches." style="font-weight: normal" data-position="top">
    			</table>
    		</div>

		</section>

	</section>

	<script src="{{ url_for ('static', filename='js/hiddenrecords.js')}}"></script>

{% endblock %}