{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="blue">
		<h2>Player Records</h2>
	</div>

	<div class="selectWrapper">
		Select a Player:
		<div id="playerSelect"></div>
	</div>

	<section class="dashboard">

		<section class="dashColumn">
		</section>

		<section class="dashColumn">

		    <div id="resultsTable" class="hidden">
    			<div class="tableTitle">
    				Career Results
    			</div>
    			<table id="playerResults">
    			</table>
    		</div>

		</section>

	</section>

	<script src="{{ url_for ('static', filename='js/hiddenrecords.js')}}"></script>

{% endblock %}