{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="blue">
		<h2>Player Records</h2>
	</div>

	<div class="selectWrapper">
		Select a Player:
		<div id="playerSelect"></div>
	</div>

	<section class="dashboard">

		<section class="dashColumn">

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
    					Matches Won/Lost
	    			</div>
					<div class="chartStyle">
						<div id="winLoss"></div>
		    		</div>
					<div class="subTitle">
    					Frames Won/Lost
	    			</div>
	    			<div class="frameCountWrapper">
						<div class="frameCounter">
							<div id="framesWon"></div>
						</div>
						<div class="frameCounter">
							<div id="framesLost"></div>
						</div>
					</div>
		    	</div>

				<div class="chartDouble">
					<div class="chartTitle">
    					Frequent Opponents
	    			</div>
					<div class="chartStyle">
						<div id="playerOpponents"></div>
		    		</div>
		    	</div>
	    	</div>

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
    					Winning Margins
	    			</div>
					<div class="chartStyle">
						<div id="playerMargins"></div>
		    		</div>
		    	</div>

				<div class="chartDouble">
					<div class="chartTitle">
    					Matches by Round
	    			</div>
					<div class="chartStyle">
						<div id="playerRounds"></div>
		    		</div>
		    	</div>
	    	</div>

		</section>

		<section class="dashColumn">

		    <div id="resultsTable" class="hidden">
    			<div class="tableTitle">
    				Career Results
    			</div>
    			<table id="playerResults">
    			</table>
    		</div>

		</section>

	</section>

	<script src="{{ url_for ('static', filename='js/hiddenrecords.js')}}"></script>

{% endblock %}