{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="blue">
		<h2>Head-to-Head Rivalries</h2>
	</div>

	<section class="dashboard">

		<section class="dashboardSection">

			<div class="selectWrapper">
				Individual Match-Up
				<section class="selectors">
					<div class="selectH2H">
						Player 1
						<div id="player1Select" data-step="1" data-intro="Choose the first player to compare head-to-head." data-position="top"></div>
					</div>

					<div class="selectH2H">
						Player 2
						<div id="player2Select" data-step="2" data-intro="Choose the second player to compare head-to-head." data-position="top"></div>
					</div>
				</section>
			</div>

			<section id="h2hWrapper" class="hidden">

				<div class="flexWrap">
					<div class="chartDouble">
						<div class="chartTitle">
							Matches
						</div>
						<div class="countWrapper">
							<div id="player1Wins" class="counter player1" data-step="3" data-intro="The number of matches that the first player has won." data-position="top"></div>
							<div id="player2Wins" class="counter player2" data-step="4" data-intro="The number of matches that the second player has lost." data-position="top"></div>
						</div>
						<div class="subTitle">
							Frames
						</div>
						<div class="countWrapper">
							<div id="player1Frames" class="counter player1" data-step="5" data-intro="The number of frames that the first player has won." data-position="top"></div>
							<div id="player2Frames" class="counter player2" data-step="6" data-intro="The number of frames that the second player has lost." data-position="top"></div>
						</div>
					</div>
				</div>

				<div class="resultsTable">
					<div class="chartTitle">
						Head-to-Head Results
					</div>
					<table id="h2hPlayerResults" class="statistics ungrouped" data-step="7" data-intro="The results of the matches between the selected players." data-position="top">
					</table>
				</div>

			</section>

		</section>

		<section class="dashboardSection">

			<div class="selectWrapper">
				Overall Records
				<div id="matchUpRound" data-step="8" data-intro="Filter the most frequent match-ups by stage of the tournament." data-position="top"></div>
			</div>

			<div class="chartSingle">
				<div class="chartTitle">
					Most Matches Played
				</div>
				<div class="chartStyle">
					<div id="mostFrequent" data-step="9" data-intro="The match-ups which have taken place most often at the Crucible - note that this section operates separately from the head-to-heads." data-position="top"></div>
				</div>
			</div>

		</section>

	</section>

{% endblock %}

{% block pagejs %}

	<script src="{{ url_for ('static', filename='js/rivalries.js')}}"></script>

{% endblock %}