{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="yellow">
		<h2>Tournament Statistics</h2>
	</div>

	<section class="dashboard">

		<section class="dashColumn">

			<div class="selectWrapper">
				<div id="yearSelect"></div>
			</div>

			<div class="flexWrap">
				<div class="countWrapper double">
					<div class="counterTitle">
						Matches
					</div>
					<div class="numberCounter">
						<div id="matchesPlayed"></div>
					</div>
				</div>

				<div class="countWrapper double">
					<div class="counterTitle">
						Frames
					</div>
					<div class="numberCounter">
						<div id="framesPlayed"></div>
					</div>
				</div>
			</div>
			
		</section>

		<section class="dashColumn">
		</section>

	</section>

{% endblock %}