{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="brown">
		<h2>Tournament Records</h2>
	</div>

	<section class="dashboard">

		<section class="dashColumn">

			<div class="selectWrapper">
				Select a Round:
				<div id="roundSelect"></div>
			</div>

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
    					Most Wins
	    			</div>
					<div class="chartStyle">
						<div id="mostWins"></div>
		    		</div>
		    	</div>

				<div class="chartDouble">
					<div class="chartTitle">
    					Most Defeats
	    			</div>
					<div class="chartStyle">
						<div id="mostDefeats"></div>
	    			</div>
	    		</div>
	    	</div>

		</section>

		<section class="dashColumn">

		</section>

	</section>

{% endblock %}