{% extends "layout.html" %}
{% block content %}

	<div id="pageTitle" class="pink">
		<h2>Individual Year Statistics</h2>
	</div>

	<section class="selectors">
		<div class="selectDouble">
			Filter by Year:
			<div id="tournamentYear" data-step="1" data-intro="Filter to see the best performances in a given year." data-position="top"></div>
		</div>

		<div class="selectDouble">
			Filter by Player:
			<div id="tournamentPlayer" data-step="2" data-intro="Filter to see the best performances for an individual player." data-position="top"></div>
		</div>
	</section>

	<section class="dashboard">

		<section class="dashboardSection">

			<div class="flexWrap">
				<div class="chartDouble">
					<div class="chartTitle">
						Players by Country
					</div>
					<div class="chartStyle">
						<div id="recordsCountry" data-step="3" data-intro="Use this chart to see the records for players from an individual country." data-position="top"></div>
					</div>
				</div>

				<div class="chartDouble">
					<div class="chartTitle">
						Tournament Result
					</div>
					<div class="chartStyle">
						<div id="tournamentResult" data-step="4" data-intro="This chart will filter the data to show players who reached a particular stage of the tournament." -position="top"></div>
					</div>
				</div>
			</div>
			
		</section>

		<section class="dashboardSection">

			<div class="resultsTable">
				<div class="chartTitle">
					Most Frames Played
				</div>
				<table id="mostFrames" class="record statistics ungrouped" data-step="5" data-intro="The players who played the most frames in a single tournament. Under the current format, the maximum possible is 137." data-position="top">
					<thead>
						<tr class="headerRow">
							<th class="_0"></th>
							<th class="_1">Player</th>
							<th class="_2">Year</th>
							<th class="_3">Result</th>
							<th class="_4">Pld</th>
							<th class="_5">W</th>
							<th class="_6">L</th>
							<th class="_7">%</th>
						</tr>
					</thead>
				</table>
			</div>
	
			<div class="resultsTable">
				<div class="chartTitle">
					Frame Win %
				</div>
				<table id="winningPercentage" class="record statistics ungrouped" data-step="6" data-intro="The players with the best frame winning percentage in a tournament - not necessarily the overall champion!" data-position="top">
					<thead>
						<tr class="headerRow">
							<th class="_0"></th>
							<th class="_1">Player</th>
							<th class="_2">Year</th>
							<th class="_3">Result</th>
							<th class="_4">Pld</th>
							<th class="_5">W</th>
							<th class="_6">L</th>
							<th class="_7">%</th>
						</tr>
					</thead>
				</table>
			</div>

		</section>

	</section>

{% endblock %}

{% block pagejs %}

	<script src="{{ url_for ('static', filename='js/yearstats.js')}}"></script>

{% endblock %}